<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgh.springboot.mapper.GoodsMapper">

    <select id="getGoods" parameterType="java.lang.Integer" resultType="com.wgh.springboot.bean.Goods">
        SELECT goods_id AS 'goodsId',
              goods_name AS 'goodsName',
              price, status
        FROM goods WHERE goods_id = #{goodsId}
    </select>

</mapper>