<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgh.springboot.mapper.PayChannelMapper">

    <select id="getPayChannel" parameterType="java.lang.Integer" resultType="com.wgh.springboot.bean.PayChannel">
        SELECT pay_channel_id AS 'channelId' ,
        pay_channel_name AS 'channelName' ,
        discount, position, correct,  code, status
        FROM pay_channel WHERE pay_channel_id =  #{channelId}
    </select>
</mapper>